<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <bean id="carBean" class="com.example.Car">
    //class is refering to the class that we have created 
        <property name="brand" value="Toyota"/>
        <property name="model" value="Corolla"/>
        <property name="price" value="50.0"/>
    </bean>

</beans>
